{{!------------------------------
To add a new social icon simply duplicate one of the list items from below
and change the class in the <i> tag to match the desired social network
and then add your link to the <a>. Here is a full list of social network
classes that you can use:

    icon-social-500px
    icon-social-behance
    icon-social-delicious
    icon-social-designer-news
    icon-social-deviant-art
    icon-social-digg
    icon-social-dribbble
    icon-social-facebook
    icon-social-flickr
    icon-social-forrst
    icon-social-foursquare
    icon-social-github
    icon-social-google-plus
    icon-social-hi5
    icon-social-instagram
    icon-social-lastfm
    icon-social-linkedin
    icon-social-medium
    icon-social-myspace
    icon-social-path
    icon-social-pinterest
    icon-social-rdio
    icon-social-reddit
    icon-social-skype
    icon-social-spotify
    icon-social-stack-overflow
    icon-social-steam
    icon-social-stumbleupon
    icon-social-treehouse
    icon-social-tumblr
    icon-social-twitter
    icon-social-vimeo
    icon-social-xbox
    icon-social-yelp
    icon-social-youtube
    icon-social-zerply
    icon-mail

--------------------------------}}

<nav class="cover-navigation navigation--social">
  <ul class="navigation">


    <!-- LinkedIn -->
    <li class="navigation__item">
      <a href="http://www.linkedin.com/pub/courtney-spurgeon/1b/53/847/" title="Courtney on LinkedIn" target="_blank">
        <i class='icon icon-social-linkedin'></i>
        <span class="label">LinkedIn</span>
      </a>
    </li>

    <!-- Email -->
    <li class="navigation__item">
      <a href="&#109;&#097;&#105;&#108;&#116;&#111;:&#115;&#112;&#117;&#114;&#103;&#101;&#111;&#110;&#046;&#099;&#106;+&#121;&#110;&#113;&#104;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;" title="Email me">
        <i class='icon icon-mail'></i>
        <span class="label">Email</span>
      </a>
    </li>


    <!-- Github -->
<!--     <li class="navigation__item">
      <a href="https://github.com/ynqh" title="Github" target="_blank">
        <i class='icon icon-social-github'></i>
        <span class="label">Github</span>
      </a>
    </li> -->

    <!-- Tumblr -->
<!--     <li class="navigation__item">
      <a href="http://ynqh.tumblr.com" title="Dale-Anthony on Dribbble" target="_blank">
        <i class='icon icon-social-tumblr'></i>
        <span class="label">Tumblr</span>
      </a>
    </li> -->

    <!-- Stack Overflow -->
    <li class="navigation__item">
      <a href="http://stackoverflow.com/users/1876899/cjspurgeon" title="ynqh on Stack Overflow" target="_blank">
        <i class='icon icon-social-stack-overflow'></i>
        <span class="label">Stack Overflow</span>
      </a>
    </li>

    <!-- RSS -->
<!--     <li class="navigation__item">
      <a href="/rss/" title="Subscribe" target="_blank">
        <i class='icon icon-rss'></i>
        <span class="label">RSS</span>
      </a>
    </li> -->

  </ul>
</nav>
